<div class="menu_section">
<ul class="nav side-menu">
  <li><a><i class="fa fa-home"></i> 系统管理 <span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
      <li><a href="/">运行状态</a></li>
      <li><a href="/installsoftware">安装软件</a></li>
      <li><a href="/webconfig">网站配置</a></li>
<!--      <li><a href="index3.html">申请SSL证书</a></li>-->
      <li><a href="/softwareconfig/mysqladmin">管理数据库</a></li>
      <li><a href="/fileandterminal">文件和终端</a></li>
      <li><a href="/softwareconfig">系统设置</a></li>
    </ul>
  </li>
</ul>
</div>
